.App {
  text-align: center;
}

.topbar {
  min-height: 3.5rem;
  max-height: 5vh;
  background-color: #eee;
}

.influx-logo {
  height: 7rem;
}

.meiao {
  max-height: 73.8rem;
  overflow-y: auto;
}

.online-ball {
  background-color: rgb(18, 208, 18);
  height: 0.8rem;
  width: 0.8rem;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #eee; /* or add it to the track */
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}